body {
  margin: 0;
}

#root {
  text-align: center;
  font-family: Arial, sans-serif;
  /*padding-top: 70px;*/
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.input-text {
  flex: 3;
  margin: 10px;
}

.flex-item {
  flex: 1;
  margin: 10px;

}

/* .navbar-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

/* .navbar-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 10px;
} */

/* .navbar-icons {
  display: flex;
} */

/* .card {
  padding: 2em;
} */

.divinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divborder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #685f5f;
  border-radius: 5px;
  width: 350px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

textarea {
  resize: none;
}

.input-text {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.input-edit {
  border: 2px solid #333;
  padding: 10px;
  border-radius: 5px;
  width: 280px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}


.home {
    min-height: 82.7vh;
    background-image: url('./assets/FotoStock.jpg');
    background-size: cover;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    padding-right: 5vw;
    color : white;
    
}

.home-content {
    max-width: 600px;
    width: 100%;
}